@model HavhavAz.Models.UserModels.LoginViewModel
@using Microsoft.Extensions.Options;
@inject IOptions<HavhavAz.Models.CaptchaModels.ReCAPTCHASettings> GooglereCAPTCHA;

@{
    ViewBag.Title = SharedLocalizer["Titles.Login"];
}

@section Content{
    <div class="row m-auto">
        <div class="col-md-12 box">
            <div class="row">
                <div class="col-md-12">
                    <div class="auth-form">
                        <form method="post" asp-controller="Account" asp-action="Login" asp-antiforgery="true" data-parsley-validate>

                            <div>
                                <input asp-for="Username" class="fb-input-text" placeholder="@SharedLocalizer["Login.Username"]..."
                                       required data-parsley-required-message="@ValidationLocalizer["Required"]"
                                       data-parsley-maxlength="15" data-parsley-maxlength-message="@ValidationLocalizer["StringLength", "", 15]" />
                                <span asp-validation-for="Username"></span>
                            </div>
                            <div>
                                <input asp-for="Password" type="password" class="fb-input-text" placeholder="@SharedLocalizer["Login.Password"]"
                                       required data-parsley-required-message="@ValidationLocalizer["Required"]" />
                                <span asp-validation-for="Password"></span>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <a class="no-style orange" href="javascript:void(0);" id="reset-password-href">
                                        @SharedLocalizer["Login.PasswordReset"]
                                    </a>
                                </div>
                            </div>

                            <div class="row justify-content-end">
                                <div class="col-md-4">
                                    <input type="submit" class="button orange clickable w-100" value="@SharedLocalizer["Login"]">
                                </div>
                            </div>
                            <input asp-for="CaptchaToken" id="captcha" type="hidden" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section addJs{
    <script src="https://www.google.com/recaptcha/api.js?render=@GooglereCAPTCHA.Value.ReCAPTCHA_Site_Key"></script>
    <script>
        grecaptcha.ready(function() {
            grecaptcha.execute('@GooglereCAPTCHA.Value.ReCAPTCHA_Site_Key', {action: 'homepage'}).then(function(token) {
                $("#captcha").val(token);
            });
        });

        var af_token = $('@Html.AntiForgeryToken()').val();
        $("#reset-password-href").on("click", function (e) {

            Swal.fire({
                title: "@SharedLocalizer["PasswordReset.PleaseEnterUsername"]",
                input: 'text',
                inputAttributes: {
                    autocapitalize: 'off'
                },
                showCancelButton: true,
                cancelButtonText: messages.cancel,
                confirmButtonText: "@SharedLocalizer["PasswordReset.ResetButton"]",
                showLoaderOnConfirm: true,
                preConfirm: (username) => {

                    $("#loader").modal({
                        fadeDuration: 250,
                        backdrop: 'static',
                        keyboard: false
                    });

                    AjaxCall("/Account/ForgetPassword", af_token, { Username: username }, true, "password_reset", function () {
                        $(".close-modal").click();
                    });
                },
                allowOutsideClick: () => !Swal.isLoading()
            })
        });
    </script>
}