@using HavhavAz.Models.ContactsModels;
@using HavhavAz.Models.UserModels;
@using Microsoft.Extensions.Options;
@inject IOptions<HavhavAz.Models.CaptchaModels.ReCAPTCHASettings> GooglereCAPTCHA;

@model HavhavAz.Models.UserModels.RegisterViewModel

@{
    ViewBag.Title = SharedLocalizer["Titles.Register"];
}

@section Content{
    <div class="row m-auto">
        <div class="col-md-12 box">
            <div class="row">
                <div class="col-md-12">
                    <div class="auth-form">
                        <form method="post" id="user-form" enctype="multipart/form-data" asp-controller="Account" asp-action="Register" asp-antiforgery="true" data-parsley-validate>

                            <p class="fb-title text-center">@SharedLocalizer["MainInfo"]:</p>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="fb img-box-rounded">
                                        <img alt="Azərbaycanda heyvansevərlər üçün ilk və tək sosial şəbəkə" src=@Url.Content("~/images/beqemot.png") id="main-pic" class="fb-img img-autoload" />
                                        <input type="file" class="img-autoload-input" name="Image" id="main-pic-input" style="display: none;" />
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12 text-center">
                                        <span asp-validation-for="Image"></span>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div>
                                        <input asp-for="Name" class="fb-input-text" placeholder="@SharedLocalizer["Register.Name"]..."
                                               required data-parsley-required-message="@ValidationLocalizer["Required"]"
                                               data-parsley-maxlength="50" data-parsley-maxlength-message="@ValidationLocalizer["StringLength", "", 50]"
                                               data-parsley-minlength="6" data-parsley-minlength-message="@ValidationLocalizer["StringLengthWithMin", "", 6, 50]" />
                                        <span asp-validation-for="Name"></span>
                                    </div>

                                    <div>
                                        @*data-parsley-maxlength="12" data-parsley-maxlength-message="@ValidationLocalizer["StringLength", "", 12]"
                    data-parsley-minlength="6" data-parsley-minlength-message="@ValidationLocalizer["StringLengthWithMin", "", 6, 12]"*@
                                        <input asp-for="Username" class="fb-input-text" placeholder="@SharedLocalizer["Register.Username"]..."
                                               required data-parsley-required-message="@ValidationLocalizer["Required"]"
                                               data-parsley-pattern="^[a-z0-9_-]{6,15}$" data-parsley-pattern-message="@ValidationLocalizer["RegexUsername"]" />
                                        <span asp-validation-for="Username"></span>
                                    </div>

                                    <div>
                                        <input asp-for="Email" type="email" class="fb-input-text" placeholder="@SharedLocalizer["Email"]..."
                                               required data-parsley-required-message="@ValidationLocalizer["Required"]"
                                               data-parsley-type-message="@ValidationLocalizer["Email"]" />
                                        <span asp-validation-for="Email"></span>
                                    </div>

                                    <div>
                                        <input asp-for="Password" id="password" type="password" class="fb-input-text" placeholder="@SharedLocalizer["Register.Password"]..."
                                               required data-parsley-required-message="@ValidationLocalizer["Required"]"
                                               data-parsley-pattern="^.*(?=.{8,})(?=.*\d)((?=.*[a-z]){1})((?=.*[A-Z]){1}).*$" data-parsley-pattern-message="@ValidationLocalizer["RegexPassword"]" />
                                        <span asp-validation-for="Password"></span>
                                    </div>
                                    <div>
                                        <input asp-for="ConfirmPassword" type="password" class="fb-input-text" placeholder="@SharedLocalizer["Register.PasswordConfirmation"]..."
                                               required data-parsley-required-message="@ValidationLocalizer["Required"]"
                                               data-parsley-equalto="#password" data-parsley-equalto-message="@ValidationLocalizer["PasswordCompare"]" />
                                        <span asp-validation-for="ConfirmPassword"></span>
                                    </div>

                                </div>
                            </div>

                            <input asp-for="CaptchaToken" id="captcha" type="hidden" />

                            <div class="row justify-content-end">
                                <div class="col-md-6">
                                    <input type="submit" id="submit-btn" class="button orange clickable w-100" value="@SharedLocalizer["Register.Submit"]">
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section addJs{
    <script src="https://www.google.com/recaptcha/api.js?render=@GooglereCAPTCHA.Value.ReCAPTCHA_Site_Key"></script>
    <script>
        grecaptcha.ready(function() {
            grecaptcha.execute('@GooglereCAPTCHA.Value.ReCAPTCHA_Site_Key', {action: 'homepage'}).then(function(token) {
                $("#captcha").val(token);
            });
        });

        $("#user-form").on("submit", function () {
            if ($(this).parsley().validate()) {
                $("#submit-btn").attr("disabled", true);
            }
        });
    </script>
}
